doctype html
html
  head
    title= Attendance
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel="stylesheet", href="/stylesheets/ion.calendar.css")
    // Bootstrap core CSS
    link(href='/assets/css/bootstrap.css', rel='stylesheet')
    // external css
    link(href='/assets/font-awesome/css/font-awesome.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/stylesheets/style.css', rel='stylesheet')

    link(href='/assets/css/style.css', rel='stylesheet')
    link(href='/assets/css/style-responsive.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')




  body
    section#container
      // header start
      header.header.black-bg
        .sidebar-toggle-box
          .fa.fa-bars.tooltips(data-placement='right', data-original-title='Toggle Navigation')
        // logo start
        a.logo(href='/')
          b Attendance
        // logo end

        .top-menu
          ul.nav.pull-right.top-menu
            li
              a.logout(href='/logout') Logout
      // header end
    aside
      #sidebar.nav-collapse
        // sidebar menu start
        ul#nav-accordion.sidebar-menu
          p.centered
            a(href='profile.html')
              img.img-circle(src='/assets/img/ui-sam.jpg', width='60')
          h5.centered #{user}
          li.mt
            a(href='/')
              i.fa.fa-dashboard
              span Dashboard
    block content

    script(src="/assets/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")  // footer end
        // js placed at the end of the document so the pages load faster

    script(src='/assets/js/jquery-ui-1.9.2.custom.min.js')
    script(src='/assets/js/jquery.ui.touch-punch.min.js')
    script.include(type='text/javascript', src='/assets/js/jquery.dcjqaccordion.2.7.js')
    script(src='/assets/js/jquery.scrollTo.min.js')
    script(src='/assets/js/jquery.nicescroll.js', type='text/javascript')
    // common script for all pages
    script(src='/assets/js/common-scripts.js')
